@model List<Pizza>

@{
    if (@Model.Count == 0)
    {
        <div class="container py-5">
            <h1>Non ci sono Pizze</h1>
        </div>
    }
    else
    {
        foreach(var pizza in Model)
        {

            <div class="card card-pizza-list mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                    <a class="" asp-controller="Pizza" asp-action="Details" asp-route-id="@pizza.Id">
                        <img src=@pizza.Image class="img-fluid rounded-start" onerror="this.src ='https://picsum.photos/200'" alt=@pizza.Name>                    
                    </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@pizza.Name</h5>
                            <div class="badge bg-info text-dark">@pizza.Category.Name</div>
                            <p class="card-text">@pizza.Description</p>
                            <p class="card-text"><small class="text-muted">@pizza.Price &euro;</small></p>
                            <a class="btn btn-info" asp-controller="Pizza" asp-action="Details" asp-route-id="@pizza.Id">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            @if (User.Identity.IsAuthenticated)
                            {                                
                                <a class="btn btn-warning" asp-controller="Pizza" asp-action="Edit" asp-route-id="@pizza.Id">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                            
                                @using (Html.BeginForm(FormMethod.Post, new { @class = "d-inline-block" })) 
                                {
                                    <button class="btn btn-danger" onclick="return confirm('Are you sure?')" asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.Id ">
                                        <i class="fa-solid fa-trash-can-arrow-up"></i>
                                    </button>
                                }
                            }
                            else
                            {
                                @if (pizza.Ingredients != null)
                                {
                                    foreach (Ingredient ingredient in pizza.Ingredients)
                                    {
                                        <span class="badge bg-warning">@ingredient.Name</span>
                                    }
                                        
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

        }        
    }
}
